# Python
venv/
__pycache__/
*.pyc

# Environment files
.env
.env.local
.env.*
frontend/.env.local

# Node
node_modules/

# Next.js
.next/

# Streamlit cache
.streamlit/

# Logs
*.log

# OS
.DS_Store
Thumbs.db





# database backups
*.sql
*.dump